<a class='btn btn-primary' href='#/'>Home</a>
<h1>{{ title }}</h1>

<form class='form-group' ng-submit='addTodo()'>
	<input class='form-control' type="text" ng-model='content'/>
	<button class='form-control btn btn-warning' type='submit'>Add Todo</button>
</form>

<hr />

<ul>
	<li ng-repeat='todo in todos' ng-model='todoLI'>
		<!-- <input ng-show='edit' value={{todo.content}} ng-click='saveEdit($event)'/> -->
		<p ng-click='editTodo($event, todo._id, todo.content, $index)'>{{todo.content}}</p>
		<button ng-click='deleteTodo(todo._id, $index)'>X</button>
	</li>
</ul>